.page-footer {
    .footer-copyright {
        justify-content: center;
    }
    h5{
        font-size: 20px;
        font-weight: 700;
    }
    ul{
        li{
            a{

            }
        }
    }
}
